{{define "content"}}
    <div class="container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <div id="produk" class="row container"></div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Tambah Produk
        </button>
    </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addproduk">
          <div class="form-group">
            <label for="exampleInputPassword1">Nama Barang</label>
            <input type="text" class="form-control" name="nama" placeholder="Sup buah timun ">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Deskripsi</label>
            <input type="text" class="form-control" name="keterangan" id="exampleInputPassword1" placeholder="Timun yang dijadikan sup">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Harga</label>
            <input type="number" class="form-control" name="harga" id="exampleInputPassword1" placeholder="9000">
          </div>
            <div class="form-group">
            <input type="submit" class="form-control" id="exampleInputPassword1" onclick="submitProduk()" placeholder="9000">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Tambah Barang</button>
      </div>
    </div>
  </div>
</div>

    <script>

        function ao2o(ao){
            var result = {};
            for (var i = 0; i < ao.length; i++) {
              result[ao[i].name] = ao[i].value;
            }
            return result;
        }
        function submitProduk(){
            var arr = $("#addproduk").serializeArray();
            arr = ao2o(arr);
            arr.harga = parseInt(arr.harga);
            arr = JSON.stringify(arr);
            $.ajax({
              type: "POST",
              url: "/api/produk",
              data: arr,
              success: function(data){alert(arr)},
              dataType: "json",
              contentType : "application/json"
            })
        }
        $(document).ready( function () {
             // $.get('/api/produk',function(data)
             //        {
             //            dataSet = data;
             //            console.log(data);
             //                         $('#table_id').DataTable({
             //                                data: data,
             //                                columns: [
             //                                    {title: "nama"},
             //                                    {title: "harga"},
             //                                    {title: "created_at"},
             //                                    {title: "updated_at"},
             //                                    {title: "keterangan"},
             //                                    {title: "id"},
             //                                  ]} );
             //                        });
             //        }
             //     );

            $.get("/api/produk", function(data){
                    if ( data.length > 0 ) {
                        var chapter_list = "";
                        data.forEach(function(item){
                            chapter_list += `
                                  <div class="col-sm-4">
                                    <div class="card">
                                      <img src="..." class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">${item["nama"]}t</h5>
                                        <p class="card-text">${item["keterangan"]}${item["harga"]}</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                  </div>`;
                        })
                        $("#produk").html(chapter_list);
                    }
            })
        })
    </script>
{{end}}